<!DOCTYPE html>
<html lang="en">
<head>
        <title>Frequently Asked Questions</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./theme/css/main.css" type="text/css" />
        
        <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="A Pelican Blog Atom Feed" />
        
        

        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="./css/ie.css"/>
                <script src="./js/IE8.js" type="text/javascript"></script><![endif]-->

        <!--[if lt IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="./css/ie6.css"/><![endif]-->

</head>

<body id="index" class="home">

        <header id="banner" class="body">
                <h1><a href=".">A Pelican Blog </a></h1>
                <nav><ul>
                
                
                
                
                
                    <li ><a href="./category/testcategory.html">TestCategory</a></li>
                
                    <li ><a href="./category/testpages.html">TestPages</a></li>
                
                    <li ><a href="./category/yeah.html">Yeah</a></li>
                
                    <li ><a href="./category/content.html">content</a></li>
                
                    <li class="active"><a href="./category/docs.html">docs</a></li>
                
                    <li ><a href="./category/emacs.html">emacs</a></li>
                
                    <li ><a href="./category/pelican.html">pelican</a></li>
                
                    <li ><a href="./category/source.html">source</a></li>
                
                    <li ><a href="./category/src.html">src</a></li>
                
                    <li ><a href="./category/test.html">test</a></li>
                
                    <li ><a href="./category/yeah.html">yeah</a></li>
                
                </ul></nav>
        </header><!-- /#banner -->
        
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title">
        <a href="frequently-asked-questions.html" rel="bookmark"
           title="Permalink to Frequently Asked Questions">Frequently Asked Questions</a></h1>
      
    </header>

    <div class="entry-content">
      <footer class="post-info">
        <abbr class="published" title="2012-09-30T04:52:53.529306">
                Sun 30 September 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href="./author/kamal.html">kamal</a>
        </address>
        
<p>In <a href="./category/docs.html">docs</a>. </p>



</footer><!-- /.post-info -->
      <p>This page answers some of the often asked questions about Jinja.</p>
<div class="system-message">
<p class="system-message-title">System Message: ERROR/3 (<tt class="docutils">./~/.pip/build/jinja2/docs/faq.rst</tt>, line 6)</p>
<p>Unknown directive type &quot;highlight&quot;.</p>
<pre class="literal-block">
.. highlight:: html+jinja

</pre>
</div>
<div class="section" id="why-is-it-called-jinja">
<h2>Why is it called Jinja?</h2>
<p>The name Jinja was chosen because it's the name of a Japanese temple and
temple and template share a similar pronunciation.  It is not named after
the city in Uganda.</p>
</div>
<div class="section" id="how-fast-is-it">
<h2>How fast is it?</h2>
<p>We really hate benchmarks especially since they don't reflect much.  The
performance of a template depends on many factors and you would have to
benchmark different engines in different situations.  The benchmarks from the
testsuite show that Jinja2 has a similar performance to <a class="reference external" href="http://www.makotemplates.org/">Mako</a> and is between
10 and 20 times faster than Django's template engine or Genshi.  These numbers
should be taken with tons of salt as the benchmarks that took these numbers
only test a few performance related situations such as looping.  Generally
speaking the performance of a template engine doesn't matter much as the
usual bottleneck in a web application is either the database or the application
code.</p>
</div>
<div class="section" id="how-compatible-is-jinja2-with-django">
<h2>How Compatible is Jinja2 with Django?</h2>
<p>The default syntax of Jinja2 matches Django syntax in many ways.  However
this similarity doesn't mean that you can use a Django template unmodified
in Jinja2.  For example filter arguments use a function call syntax rather
than a colon to separate filter name and arguments.  Additionally the
extension interface in Jinja is fundamentally different from the Django one
which means that your custom tags won't work any longer.</p>
<p>Generally speaking you will use much less custom extensions as the Jinja
template system allows you to use a certain subset of Python expressions
which can replace most Django extensions.  For example instead of using
something like this:</p>
<pre class="literal-block">
{% load comments %}
{% get_latest_comments 10 as latest_comments %}
{% for comment in latest_comments %}
    ...
{% endfor %}
</pre>
<p>You will most likely provide an object with attributes to retrieve
comments from the database:</p>
<pre class="literal-block">
{% for comment in models.comments.latest(10) %}
    ...
{% endfor %}
</pre>
<p>Or directly provide the model for quick testing:</p>
<pre class="literal-block">
{% for comment in Comment.objects.order_by('-pub_date')[:10] %}
    ...
{% endfor %}
</pre>
<p>Please keep in mind that even though you may put such things into templates
it still isn't a good idea.  Queries should go into the view code and not
the template!</p>
</div>
<div class="section" id="isn-t-it-a-terrible-idea-to-put-logic-into-templates">
<h2>Isn't it a terrible idea to put Logic into Templates?</h2>
<p>Without a doubt you should try to remove as much logic from templates as
possible.  But templates without any logic mean that you have to do all
the processing in the code which is boring and stupid.  A template engine
that does that is shipped with Python and called <cite>string.Template</cite>.  Comes
without loops and if conditions and is by far the fastest template engine
you can get for Python.</p>
<p>So some amount of logic is required in templates to keep everyone happy.
And Jinja leaves it pretty much to you how much logic you want to put into
templates.  There are some restrictions in what you can do and what not.</p>
<p>Jinja2 neither allows you to put arbitrary Python code into templates nor
does it allow all Python expressions.  The operators are limited to the
most common ones and more advanced expressions such as list comprehensions
and generator expressions are not supported.  This keeps the template engine
easier to maintain and templates more readable.</p>
</div>
<div class="section" id="why-is-autoescaping-not-the-default">
<h2>Why is Autoescaping not the Default?</h2>
<p>There are multiple reasons why automatic escaping is not the default mode
and also not the recommended one.  While automatic escaping of variables
means that you will less likely have an XSS problem it also causes a huge
amount of extra processing in the template engine which can cause serious
performance problems.  As Python doesn't provide a way to mark strings as
unsafe Jinja has to hack around that limitation by providing a custom
string class (the <a href="#id1"><span class="problematic" id="id2">:class:`Markup`</span></a> string) that safely interacts with safe
and unsafe strings.</p>
<div class="system-message" id="id1">
<p class="system-message-title">System Message: ERROR/3 (<tt class="docutils">./~/.pip/build/jinja2/docs/faq.rst</tt>, line 92); <em><a href="#id2">backlink</a></em></p>
Unknown interpreted text role &quot;class&quot;.</div>
<p>With explicit escaping however the template engine doesn't have to perform
any safety checks on variables.  Also a human knows not to escape integers
or strings that may never contain characters one has to escape or already
HTML markup.  For example when iterating over a list over a table of
integers and floats for a table of statistics the template designer can
omit the escaping because he knows that integers or floats don't contain
any unsafe parameters.</p>
<p>Additionally Jinja2 is a general purpose template engine and not only used
for HTML/XML generation.  For example you may generate LaTeX, emails,
CSS, JavaScript, or configuration files.</p>
</div>
<div class="section" id="why-is-the-context-immutable">
<h2>Why is the Context immutable?</h2>
<p>When writing a <a href="#id3"><span class="problematic" id="id4">:func:`contextfunction`</span></a> or something similar you may have
noticed that the context tries to stop you from modifying it.  If you have
managed to modify the context by using an internal context API you may
have noticed that changes in the context don't seem to be visible in the
template.  The reason for this is that Jinja uses the context only as
primary data source for template variables for performance reasons.</p>
<div class="system-message" id="id3">
<p class="system-message-title">System Message: ERROR/3 (<tt class="docutils">./~/.pip/build/jinja2/docs/faq.rst</tt>, line 116); <em><a href="#id4">backlink</a></em></p>
Unknown interpreted text role &quot;func&quot;.</div>
<p>If you want to modify the context write a function that returns a variable
instead that one can assign to a variable by using set:</p>
<pre class="literal-block">
{% set comments = get_latest_comments() %}
</pre>
</div>
<div class="section" id="what-is-the-speedups-module-and-why-is-it-missing">
<h2>What is the speedups module and why is it missing?</h2>
<p>To achieve a good performance with automatic escaping enabled, the escaping
function was also implemented in pure C in older Jinja2 releases and used if
Jinja2 was installed with the speedups module.</p>
<p>Because this feature itself is very useful for non-template engines as
well it was moved into a separate project on PyPI called <a class="reference external" href="http://pypi.python.org/pypi/MarkupSafe">MarkupSafe</a>.</p>
<p>Jinja2 no longer ships with a C implementation of it but only the pure
Python implementation.  It will however check if MarkupSafe is available
and installed, and if it is, use the Markup class from MarkupSafe.</p>
<p>So if you want the speedups, just import MarkupSafe.</p>
</div>
<div class="section" id="my-tracebacks-look-weird-what-s-happening">
<h2>My tracebacks look weird.  What's happening?</h2>
<p>If the debugsupport module is not compiled and you are using a Python
installation without ctypes (Python 2.4 without ctypes, Jython or Google's
AppEngine) Jinja2 is unable to provide correct debugging information and
the traceback may be incomplete.  There is currently no good workaround
for Jython or the AppEngine as ctypes is unavailable there and it's not
possible to use the debugsupport extension.</p>
</div>
<div class="section" id="why-is-there-no-python-2-3-support">
<h2>Why is there no Python 2.3 support?</h2>
<p>Python 2.3 is missing a lot of features that are used heavily in Jinja2.  This
decision was made as with the upcoming Python 2.6 and 3.0 versions it becomes
harder to maintain the code for older Python versions.  If you really need
Python 2.3 support you either have to use <a class="reference external" href="http://jinja.pocoo.org/1/">Jinja 1</a> or other templating
engines that still support 2.3.</p>
</div>
<div class="section" id="my-macros-are-overriden-by-something">
<h2>My Macros are overriden by something</h2>
<p>In some situations the Jinja scoping appears arbitrary:</p>
<p>layout.tmpl:</p>
<div class="highlight"><pre><span class="cp">{%</span> <span class="k">macro</span> <span class="nv">foo</span><span class="o">()</span> <span class="cp">%}</span><span class="x">LAYOUT</span><span class="cp">{%</span> <span class="k">endmacro</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">body</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
<p>child.tmpl:</p>
<div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s1">&#39;layout.tmpl&#39;</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">macro</span> <span class="nv">foo</span><span class="o">()</span> <span class="cp">%}</span><span class="x">CHILD</span><span class="cp">{%</span> <span class="k">endmacro</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">body</span> <span class="cp">%}{{</span> <span class="nv">foo</span><span class="o">()</span> <span class="cp">}}{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
<p>This will print <tt class="docutils literal">LAYOUT</tt> in Jinja2.  This is a side effect of having
the parent template evaluated after the child one.  This allows child
templates passing information to the parent template.  To avoid this
issue rename the macro or variable in the parent template to have an
uncommon prefix.</p>
</div>

    </div><!-- /.entry-content -->
    

  </article>
</section>

        <section id="extras" class="body">
        
        
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->




</body>
</html>