<!DOCTYPE html>
<html lang="en">
<head>
        <title>Tips and Tricks</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./theme/css/main.css" type="text/css" />
        
        <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="A Pelican Blog Atom Feed" />
        
        

        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="./css/ie.css"/>
                <script src="./js/IE8.js" type="text/javascript"></script><![endif]-->

        <!--[if lt IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="./css/ie6.css"/><![endif]-->

</head>

<body id="index" class="home">

        <header id="banner" class="body">
                <h1><a href=".">A Pelican Blog </a></h1>
                <nav><ul>
                
                
                
                
                
                    <li ><a href="./category/testcategory.html">TestCategory</a></li>
                
                    <li ><a href="./category/testpages.html">TestPages</a></li>
                
                    <li ><a href="./category/yeah.html">Yeah</a></li>
                
                    <li ><a href="./category/content.html">content</a></li>
                
                    <li class="active"><a href="./category/docs.html">docs</a></li>
                
                    <li ><a href="./category/emacs.html">emacs</a></li>
                
                    <li ><a href="./category/pelican.html">pelican</a></li>
                
                    <li ><a href="./category/source.html">source</a></li>
                
                    <li ><a href="./category/src.html">src</a></li>
                
                    <li ><a href="./category/test.html">test</a></li>
                
                    <li ><a href="./category/yeah.html">yeah</a></li>
                
                </ul></nav>
        </header><!-- /#banner -->
        
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title">
        <a href="tips-and-tricks.html" rel="bookmark"
           title="Permalink to Tips and Tricks">Tips and Tricks</a></h1>
      
    </header>

    <div class="entry-content">
      <footer class="post-info">
        <abbr class="published" title="2012-09-30T04:52:53.533306">
                Sun 30 September 2012
        </abbr>

        
        <address class="vcard author">
                By <a class="url fn" href="./author/kamal.html">kamal</a>
        </address>
        
<p>In <a href="./category/docs.html">docs</a>. </p>



</footer><!-- /.post-info -->
      <div class="system-message">
<p class="system-message-title">System Message: ERROR/3 (<tt class="docutils">./~/.pip/build/jinja2/docs/tricks.rst</tt>, line 4)</p>
<p>Unknown directive type &quot;highlight&quot;.</p>
<pre class="literal-block">
.. highlight:: html+jinja

</pre>
</div>
<p>This part of the documentation shows some tips and tricks for Jinja2
templates.</p>
<div class="section" id="id1">
<span id="null-master-fallback"></span><h2>Null-Master Fallback</h2>
<p>Jinja2 supports dynamic inheritance and does not distinguish between parent
and child template as long as no <cite>extends</cite> tag is visited.  While this leads
to the surprising behavior that everything before the first <cite>extends</cite> tag
including whitespace is printed out instead of being igored, it can be used
for a neat trick.</p>
<p>Usually child templates extend from one template that adds a basic HTML
skeleton.  However it's possible put the <cite>extends</cite> tag into an <cite>if</cite> tag to
only extend from the layout template if the <cite>standalone</cite> variable evaluates
to false which it does per default if it's not defined.  Additionally a very
basic skeleton is added to the file so that if it's indeed rendered with
<cite>standalone</cite> set to <cite>True</cite> a very basic HTML skeleton is added:</p>
<pre class="literal-block">
{% if not standalone %}{% extends 'master.html' %}{% endif -%}
&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.01 Transitional//EN&quot;&gt;
&lt;title&gt;{% block title %}The Page Title{% endblock %}&lt;/title&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot; type=&quot;text/css&quot;&gt;
{% block body %}
  &lt;p&gt;This is the page body.&lt;/p&gt;
{% endblock %}
</pre>
</div>
<div class="section" id="alternating-rows">
<h2>Alternating Rows</h2>
<p>If you want to have different styles for each row of a table or
list you can use the <cite>cycle</cite> method on the <cite>loop</cite> object:</p>
<pre class="literal-block">
&lt;ul&gt;
{% for row in rows %}
  &lt;li class=&quot;{{ loop.cycle('odd', 'even') }}&quot;&gt;{{ row }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</pre>
<p><cite>cycle</cite> can take an unlimited amount of strings.  Each time this
tag is encountered the next item from the list is rendered.</p>
</div>
<div class="section" id="highlighting-active-menu-items">
<h2>Highlighting Active Menu Items</h2>
<p>Often you want to have a navigation bar with an active navigation
item.  This is really simple to achieve.  Because assignments outside
of <cite>block</cite>s in child templates are global and executed before the layout
template is evaluated it's possible to define the active menu item in the
child template:</p>
<pre class="literal-block">
{% extends &quot;layout.html&quot; %}
{% set active_page = &quot;index&quot; %}
</pre>
<p>The layout template can then access <cite>active_page</cite>.  Additionally it makes
sense to defined a default for that variable:</p>
<pre class="literal-block">
{% set navigation_bar = [
    ('/', 'index', 'Index'),
    ('/downloads/', 'downloads', 'Downloads'),
    ('/about/', 'about', 'About')
] -%}
{% set active_page = active_page|default('index') -%}
...
&lt;ul id=&quot;navigation&quot;&gt;
{% for href, id, caption in navigation_bar %}
  &lt;li{% if id == active_page %} class=&quot;active&quot;{% endif
  %}&gt;&lt;a href=&quot;{{ href|e }}&quot;&gt;{{ caption|e }}&lt;/a&gt;/li&gt;
{% endfor %}
&lt;/ul&gt;
...
</pre>
</div>
<div class="section" id="id2">
<span id="accessing-the-parent-loop"></span><h2>Accessing the parent Loop</h2>
<p>The special <cite>loop</cite> variable always points to the innermost loop.  If it's
desired to have access to an outer loop it's possible to alias it:</p>
<pre class="literal-block">
&lt;table&gt;
{% for row in table %}
  &lt;tr&gt;
  {% set rowloop = loop %}
  {% for cell in row %}
    &lt;td id=&quot;cell-{{ rowloop.index }}-{{ loop.index }}&gt;{{ cell }}&lt;/td&gt;
  {% endfor %}
  &lt;/tr&gt;
{% endfor %}
&lt;/table&gt;
</pre>
</div>

    </div><!-- /.entry-content -->
    

  </article>
</section>

        <section id="extras" class="body">
        
        
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->




</body>
</html>